In [6]:
import pandas as pd
import numpy

In [4]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman
                            "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                            "born": [pd.NaT, pd.Timestamp("1940-04-25"),        
                                     pd.NaT]})
df

SyntaxError: EOL while scanning string literal (<ipython-input-4-47958b372a6e>, line 1)

In [11]:
pd.NaT #None value in pandas

NaT

In [12]:
df = pd.DataFrame({'col1': [1, 2],
                   'col2': [0.5, 0.75]},
                  index=['row1', 'row2'])
df

      col1  col2
row1     1  0.50
row2     2  0.75

In [13]:
df.to_dict()

{'col1': {'row1': 1, 'row2': 2}, 'col2': {'row1': 0.5, 'row2': 0.75}}

In [14]:
df

      col1  col2
row1     1  0.50
row2     2  0.75

In [35]:
import numpy as np

dd={'col1': {'row1': 1, 'row2': 2, 'row11': 0.5, 'row22': 0.75}, 'col2': {'row1': 0.5, 'row2': 75, 'row1': 1, 
                                                                          'row2': 2, 'row11': 5, 'row22': 995, "rows3":np.nan, "rows4":np.nan }}
dd

{'col1': {'row1': 1, 'row2': 2, 'row11': 0.5, 'row22': 0.75},
 'col2': {'row1': 1,
  'row2': 2,
  'row11': 5,
  'row22': 995,
  'rows3': nan,
  'rows4': nan}}

In [36]:
dd.to_csv("try1.csv")

AttributeError: 'dict' object has no attribute 'to_csv'

In [27]:
import csv
my_dict = {'1': 'aaa', '2': 'bbb', '3': 'ccc'}
with open('test.csv', 'w') as f:
    for key in my_dict.keys():
        f.write("%s,%s\n"%(key,my_dict[key]))
        
test=pd.read_csv("test.csv")
test

   1  aaa
0  2  bbb
1  3  ccc

In [37]:
with open('test1.csv', 'w') as f:
    for key in dd.keys():
        f.write("%s,%s\n"%(key,dd[key]))
        
test=pd.read_csv("test1.csv")
test

,,col1,{'row1': 1,'row2': 2,'row11': 0.5,'row22': 0.75}
col2,{'row1': 1,'row2': 2,'row11': 5,'row22': 995,'rows3': nan,'rows4': nan}

In [38]:
test.dropna()

,,col1,{'row1': 1,'row2': 2,'row11': 0.5,'row22': 0.75}
col2,{'row1': 1,'row2': 2,'row11': 5,'row22': 995,'rows3': nan,'rows4': nan}

In [7]:
test=pd.read_csv("test1.csv")
test.dropna()

   col1  ramzan hello Unnamed: 3 Unnamed: 4
1  col3  hiiiii   hey    seconds     fourth

In [8]:
test

   col1  ramzan hello Unnamed: 3 Unnamed: 4
0  col2    hiii   hey          2        NaN
1  col3  hiiiii   hey    seconds     fourth

In [9]:
for item in test:
    if test.notnull():
        print(test)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [12]:
import nltk

In [13]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sri\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True